<script src="{{ "js/jquery-3.3.1.min.js" | absURL }}"></script>
<script src="{{ "js/jquery-migrate-3.0.1.min.js" | absURL }}"></script>
<!-- <script src="{{ "js/jquery-ui.min.js" | absURL }}"></script> -->
<!-- <script src="{{ "js/popper.min.js" | absURL }}"></script> -->
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/owl.carousel.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.stellar.min.js" | absURL }}"></script>
<!-- <script src="{{ "js/jquery.countdown.min.js" | absURL }}"></script> -->
<script src="{{ "js/jquery.magnific-popup.min.js" | absURL }}"></script>
<!-- <script src="{{ "js/bootstrap-datepicker.min.js" | absURL }}"></script> -->
<script src="{{ "js/aos.js" | absURL }}"></script>

<script src="{{ "js/main.js" | absURL }}"></script>

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="cc766193-05d5-4ee9-9b4a-44c68f651832";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

{{ if isset .Params "author" }} 

    <script>

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://3layers.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>

    <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
    
{{ end }}