<script src="{{ "js/jquery-3.3.1.min.js" | absURL }}"></script>
<script src="{{ "js/jquery-migrate-3.0.1.min.js" | absURL }}"></script>
<script src="{{ "js/jquery-ui.js" | absURL }}"></script>
<script src="{{ "js/popper.min.js" | absURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/owl.carousel.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.stellar.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.countdown.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.magnific-popup.min.js" | absURL }}"></script>
<script src="{{ "js/bootstrap-datepicker.min.js" | absURL }}"></script>
<script src="{{ "js/aos.js" | absURL }}"></script>

<script src="{{ "js/main.js" | absURL }}"></script>

<script>
    // Variables 
    var lang= window.navigator.language.substring(0, 2), // Check the Browser language
    translate; // Container of all translations

    // Call translations json file and populate translate variable  
    $.getJSON({{ "json/translations.json" | absURL }}, function(texts) {
        translate=texts;
        
        // Translations Function: Get all the element with data-text
        $("[data-translate]").each(function() {
            let text= $(this).attr('data-translate'), // Save the Text into the variable
                numbers= text.match(/\d+/g),
                element=  $('[data-translate="'+text+'"]'),
                postHTML;

            if (numbers != null && numbers>1) 
                    text= text.replace(numbers, '%n');
            
            if (translate[text]!==undefined) { // Check if exist the text in translation.json                      

                if (translate[text][lang]!==undefined) { // Check if exist the text in the browser language
                    postHTML= translate[text][lang];
                } else { // If not exist the lang, show the text in primary Language (Recomend: English)
                    postHTML= text;
                }

                if (numbers != null && numbers>1) 
                    postHTML= postHTML.replace('%n', numbers);

                element.html(postHTML);

            } else {
                $('[data-translate="'+text+'"]').html("ERR").css({'color':'red','font-weight':'bold'});
            }
        });
    });

</script>

<script>
$body = $("body");

$(document).on({
    ajaxStart: function() { $body.addClass("loading");    },
     ajaxStop: function() { $body.removeClass("loading"); }    
});
</script>