<script src="{{ "js/jquery-3.3.1.min.js" | absURL }}"></script>
<script src="{{ "js/jquery-migrate-3.0.1.min.js" | absURL }}"></script>
<script src="{{ "js/jquery-ui.js" | absURL }}"></script>
<script src="{{ "js/popper.min.js" | absURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/owl.carousel.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.stellar.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.countdown.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.magnific-popup.min.js" | absURL }}"></script>
<script src="{{ "js/bootstrap-datepicker.min.js" | absURL }}"></script>
<script src="{{ "js/aos.js" | absURL }}"></script>

<script src="{{ "js/main.js" | absURL }}"></script>
  