<footer class="site-footer">
    <div class="container">
        

        <div class="row">
        <div class="col-lg-7">
            <div class="row">
                    <div class="col-6 col-md-6 col-lg-6 mb-6 mb-lg-0">
                            <h3 class="footer-heading mb-4">Alojamientos</h3>
                            <ul class="list-unstyled">
                                    {{ range sort (where .Site.Pages "Section" "hosting") ".Params.fade" }}
                                        {{ if isset .Params "title" }}
                                            <li><a href="{{ .Params.pageurl }}">{{ .Title }}</a></li>
                                        {{ end }}
                                    {{ end }}
                            </ul>
                            <h3 class="footer-heading mb-4">SSL</h3>
                            <ul class="list-unstyled">
                                    {{ range where .Site.Pages "Section" "ssl" }}
                                        {{ if isset .Params "title" }}
                                            <li><a href="{{ .Params.pageurl }}">{{ .Title }}</a></li>
                                        {{ end }}
                                    {{ end }}
                            </ul>
                        </div>            
            <div class="col-6 col-md-6 col-lg-6 mb-6 mb-lg-0">
                <h3 class="footer-heading mb-4">Menu Rápido</h3>
                <ul class="list-unstyled">
                <li><a href="/">Inicio</a></li>
                <li><a href="/domain/">Dominios</a></li>
                <li><a href="/ssl/ssl1">SSL</a></li>
                <li><a href="/hosting/hosting1">Alojamiento</a></li>
                <li><a href="/blog/">Blog</a></li>                
                </ul>
            </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row mb-5">
            {{ range first 1 (where .Site.Pages "Section" "contact") }}
                {{ if isset .Params "title" }}       
                    <div class="col-md-12"><h3 class="footer-heading mb-4">República Dominicana</h3></div>
                    <div class="col-md-6">
                        <p>{{ .Params.address }}</p>    
                    </div>
                    <div class="col-md-6">
                        T: {{ .Params.phone }} <br>
                        M: {{ .Params.email }}
                    </div>                    
                {{ end }}
            {{ end }}
            </div>
            <div class="row mb-5">
                        <div class="col-md-12">
                            <h3 class="footer-heading mb-4">
                            Redes Sociales
                            </h3>
                        </div>
                        <div class="col-md-1">
                            <a href="https://www.facebook.com/3Layers-Host-112222980124952">
                                <img src="/images/facebook.png" alt="Facebook Icon" width="25px">
                            </a>
                        </div>
                        <div class="col-md-1">
                            <a href="https://www.instagram.com/3layers.host/">
                                <img src="/images/instagram.png" alt="Instagram Icon" width="25px">
                            </a>
                        </div>
                        <div class="col-md-1">
                            <a href="https://www.linkedin.com/company/40848949">
                                <img src="/images/linkedin.png" alt="linkedin Icon" width="25px">
                            </a>
                        </div>                    
            </div>
        
        </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; <script>document.write(new Date().getFullYear());</script> All Rights Reserved 3layers.host | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
        
        </div>
    </div>
</footer>
