<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-6 col-md-6 col-lg-6 mb-6 mb-lg-0">
                        <h3 class="footer-heading mb-4">Menu Rápido</h3>
                        <ul class="list-unstyled">
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/domain/">Dominios</a></li>
                            <li><a href="/ssl/ssl1">SSL</a></li>
                            <li><a href="/hosting/hosting1">Alojamiento</a></li>
                            <li><a href="/blog/">Blog</a></li>
                            <li><a href="/contact/">Contacto</a></li>
                        </ul>
                        <h3 class="footer-heading mb-4">Alojamientos</h3>
                        <ul class="list-unstyled">
                                {{ range sort (where .Site.Pages "Section" "hosting") ".Params.fade" }}
                                    {{ if isset .Params "title" }}
                                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                    {{ end }}
                                {{ end }}
                        </ul>
                        <h3 class="footer-heading mb-4">
                        Redes Sociales
                        </h3>
                        <div class="row">                           
                            <div class="col-2">
                                <a href="{{ .Site.Params.socialfacebooklink | absURL }}" target="_blank">
                                    <picture>
                                        <source srcset="{{ substr .Site.Params.socialfacebook 0 -4 | absURL }}.webp" type="image/webp">
                                        <source srcset="{{ .Site.Params.socialfacebook | absURL }}" type="image/jpeg"> 
                                        <img src="{{ .Site.Params.socialfacebook | absURL }}" alt="Facebook Icon" width="25px">
                                    </picture>                                                                              
                                </a>
                            </div>
                            <div class="col-2">
                            <a href="{{ .Site.Params.socialinstagramlink | absURL }}" target="_blank">
                                <picture>
                                    <source srcset="{{ substr .Site.Params.socialinstagram 0 -4 | absURL }}.webp" type="image/webp">
                                    <source srcset="{{ .Site.Params.socialinstagram | absURL }}" type="image/jpeg"> 
                                    <img src="{{ .Site.Params.socialinstagram | absURL }}" alt="Instagram Icon" width="25px">
                                </picture>
                            </a>
                            </div>
                            <div class="col-2">
                            <a href="{{ .Site.Params.sociallinkedinlink | absURL }}" target="_blank">
                                <picture>
                                    <source srcset="{{ substr .Site.Params.sociallinkedin 0 -4 | absURL }}.webp" type="image/webp">
                                    <source srcset="{{ .Site.Params.sociallinkedin | absURL }}" type="image/jpeg"> 
                                    <img src="{{ .Site.Params.sociallinkedin | absURL }}" alt="Linkedin Icon" width="25px">
                                </picture>                                
                            </a>
                            </div>
                            <div class="col-2">
                            <a href="{{ .Site.Params.socialtwitterlink | absURL }}" target="_blank">
                                <picture>
                                    <source srcset="{{ substr .Site.Params.socialtwitter 0 -4 | absURL }}.webp" type="image/webp">
                                    <source srcset="{{ .Site.Params.socialtwitter | absURL }}" type="image/jpeg"> 
                                    <img src="{{ .Site.Params.socialtwitter | absURL }}" alt="Twitter Icon" width="25px">
                                </picture>                                
                            </a>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-6 col-md-6 col-lg-6 mb-6 mb-lg-0">
                        <h3 class="footer-heading mb-4">SSL</h3>
                        <ul class="list-unstyled">
                                {{ range where .Site.Pages "Section" "ssl" }}
                                    {{ if isset .Params "title" }}
                                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                    {{ end }}
                                {{ end }}
                        </ul>
                        <h3 class="footer-heading mb-4">Suites</h3>
                        <ul class="list-unstyled">
                                {{ range sort (where .Site.Pages "Section" "suites") ".Params.fade" }}
                                    {{ if isset .Params "title" }}
                                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                    {{ end }}
                                {{ end }}
                        </ul>
                        <h3 class="footer-heading mb-4">SSL</h3>
                        <ul class="list-unstyled">
                                {{ range where .Site.Pages "Section" "services" }}
                                    {{ if isset .Params "title" }}
                                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                    {{ end }}
                                {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-5">
                <h3 class="footer-heading mb-4">República Dominicana</h3>
                {{ range first 1 (where .Site.Pages "Section" "contact") }}
                {{ if isset .Params "title" }}       
                    <p>{{ .Params.address }}</p>
                    <p>
                        <div class="mapouter"><div class="gmap_canvas"><iframe width="550" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=3Layers%20Host%20Calle%20Olof%20Palme%2018%2C%20Santo%20Domingo%2010133%2C%20Dominican%20Republic&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/20-off-discount-for-elegant-themes-divi-sale-coupon-code-2019/"></a></div><style>.mapouter{position:relative;text-align:right;height:400px;width:550px;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:550px;}</style></div>                    
                    </p>
                    <p>
                        <a href="https://www.google.com/maps/place/3Layers+Host/@18.472194,-69.955313,15z/data=!4m5!3m4!1s0x0:0xc7ca2d0d7f4ec684!8m2!3d18.4721937!4d-69.9553129?hl=en-US" target="_blank">
                        Visitar en el Mapa
                        </a>
                    </p>
                    <p><strong>Teléfono:</strong> {{ .Params.phone }}<br />
                    <strong>Correo Electrónico:</strong> {{ .Params.email }}</p>
                {{ end }}
                {{ end }}            
            </div>       
        
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy; <script>document.write(new Date().getFullYear());</script>&nbsp;All Rights Reserved 3layers.host | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a> {{ .Site.Params.version }}
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>        
        </div>
    </div>    
</footer>