<div class="site-navbar-wrap bg-white">
    <div class="site-navbar-top">
      <div class="container py-2">
        <div class="row align-items-center">
          
          <div class="col-6 col-md-6 col-lg-2">
            <a href="{{ .Site.Params.homeurl | absURL }}" class="d-flex align-items-center site-logo">              
              <p>
                  <picture>
                    <source srcset="{{ substr .Site.Params.logo 0 -4 | absURL }}.webp" type="image/webp">
                    <source srcset="{{ .Site.Params.logo | absURL }}" type="image/jpeg"> 
                      <img align="middle" src="{{ .Site.Params.logo | absURL }}" alt="Logo 3Layers Host">
                  </picture>&nbsp;<h3>{{ .Site.Params.company }}</h3>
              </p>
            </a>
          </div>

          {{ range first 1 (where .Site.Pages "Section" "contact") }}
            {{ if isset .Params "title" }}
              <div class="col-6 col-md-6 col-lg-10">
                <ul class="unit-4 ml-auto text-right">

                  <li class="text-left">
                    <a href="tel:{{ .Params.phone }}">
                      <div class="d-flex align-items-center block-unit">
                        <div class="icon mr-0 mr-md-4">
                          <span class="h3">
                              <picture>
                                  <source srcset="{{ substr .Params.phoneicon 0 -4 | absURL }}.webp" type="image/webp">
                                  <source srcset="{{ .Params.phoneicon | absURL }}" type="image/jpeg"> 
                                  <img src="{{ .Params.phoneicon | absURL }}" alt="Phone Icon" width="35px">
                              </picture>                              
                          </span>
                        </div>
                        <div class="d-none d-lg-block">
                          <span class="d-block text-gray-500 text-uppercase">{{ .Params.textphone }}</span>
                          <span class="h6">{{ .Params.phone }}</span>
                        </div>
                      </div>
                    </a>
                  </li>


                  <li class="text-left">
                    <a href="mailto:{{ .Params.email }}">
                      <div class="d-flex align-items-center block-unit">
                        <div class="icon mr-0 mr-md-4">
                          <span class="h5">
                              <picture>
                                  <source srcset="{{ substr .Params.emailicon 0 -4 | absURL }}.webp" type="image/webp">
                                  <source srcset="{{ .Params.emailicon | absURL }}" type="image/jpeg"> 
                                  <img src="{{ .Params.emailicon | absURL }}" alt="Email Icon" width="35px">
                              </picture>                              
                          </span>
                        </div>
                        <div class="d-none d-lg-block">
                          <span class="d-block text-gray-500 text-uppercase">{{ .Params.textemail }}</span>
                          <span class="h6">{{ .Params.email }}</span>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li class="text-left">
                    <a target="_blank" href="https://wa.me/18297870797?text=Estoy%20visitando%203layers.host%20y%20tengo%20preguntas">
                      <div class="d-flex align-items-center block-unit">
                        <div class="icon mr-0 mr-md-4">
                          <span class="h2">
                              <picture>
                                  <source srcset="{{ substr .Params.chaticon 0 -4 | absURL }}.webp" type="image/webp">
                                  <source srcset="{{ .Params.chaticon | absURL }}" type="image/jpeg"> 
                                  <img src="{{ .Params.chaticon | absURL }}" alt="Chat Icon" width="35px">
                              </picture>                              
                          </span>
                        </div>
                        <div class="d-none d-lg-block">
                          <span class="d-block text-gray-500 text-uppercase">WhatsApp</span>
                          <span class="h6">Conversa con nosotros</span>
                        </div>
                      </div>
                    </a>
                  </li>


                </ul>
              </div>
            {{ end }}
          {{ end }}


        </div>
        
      </div>
    </div>
    <div class="site-navbar bg-dark">
      <div class="container py-1">
        <div class="row align-items-center">

          <div class="col-4 col-md-4 col-lg-8">
            <nav class="site-navigation text-left" role="navigation">
              <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="/" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

            {{ partial "menu" . }}

            </nav>
          </div>
          <div class="col-8 col-md-8 col-lg-4 text-right">
            {{ if .Site.IsMultiLingual }}
              {{ range .Site.Languages }}
                {{ if eq . $.Site.Language }}
                  <a href="#" class="btn btn-primary btn-primary rounded-0 py-2 px-4">{{ .LanguageName }}</a>                  
                {{ else }}
                  {{ range $.Translations }}
                  <a href="{{ .Permalink }}" class="btn btn-primary btn-outline-primary rounded-0 text-white py-2 px-4">{{ .Language.LanguageName }}</a>                  
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
            
            
          </div>


        </div>
      </div>
    </div>
  </div>