<head>
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Alojamiento Web y Correo electrónico con soporte técnico, splitdomain para g-suite y office 365, soluciones de migración de correos electrónicos y datos, inteligencia de negocio. Los mejores precios para latinoamerica y el caribe.">
    <meta name="keywords" content="Hosting,email,develop,sysadmin,support,g-suite,office 365,security,migrations,migraciones,soporte">
    <meta name="author" content="Henry Pimentel">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500"> 

    <!-- <link rel="stylesheet" href="{{ "fonts/icomoon/style.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/jquery-ui.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/owl.carousel.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/animate.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/aos.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/custom.css" | absURL }}"> -->

    <link rel="stylesheet" href="{{ "fonts/icomoon/style.css" | absURL }}">

    {{ $bootstrapcss := resources.Get "css/bootstrap.min.css" }}
    {{ $jquerycss := resources.Get "css/jquery-ui.css" }}
    {{ $carouselcss := resources.Get "css/owl.carousel.min.css" }}
    {{ $animatecss := resources.Get "css/animate.css" }}
    {{ $aoscss := resources.Get "css/aos.css" }}
    {{ $stylecss := resources.Get "css/style.css" }}
    {{ $customcss := resources.Get "css/custom.css" }}
    {{ $stylescss := slice $bootstrapcss $jquerycss $carouselcss $animatecss $aoscss $stylecss $customcss | resources.Concat "css/bundle.css" | resources.Minify }}

    <link rel="stylesheet" href="{{ $stylescss.Permalink }}">

    <link rel="canonical" href="{{ .Permalink | absURL }}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3702215-3"></script>

    <!-- BEGIN Google Analytics -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-3702215-3');
    </script>
    <!-- END Google Analytics -->

    <meta property="og:url" content="{{ .Permalink | absURL }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Plain | truncate 100 }}" />
    <meta property="og:image" content="{{ .Params.thumbnail | absURL }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{{ .Title }}" />
    <meta property="twitter:description" content="{{ .Plain | truncate 100 }}" />
    <meta property="twitter:image" content="{{ .Params.thumbnail | absURL }}" />

    <!--  Non-Essential, But Recommended -->

    <meta property="og:site_name" content="3Layers Host">
    <meta name="twitter:image:alt" content="3Layers Host image">

    <!--  Non-Essential, But Required for Analytics -->

    <meta property="fb:app_id" content="112222980124952" />
    <meta name="twitter:site" content="@website-username">

  </head>

  