
    <!DOCTYPE html>
    <html lang="en">
      
      {{ partial "head" . }}

      <body>
      
      <div class="site-wrap">

        <div class="site-mobile-menu">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
              <span class="icon-close2 js-menu-toggle"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        
        {{ partial "header" . }}
      
        {{ partial "minihero" . }}

        <div class="py-5 bg-primary">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="d-flex popular-domain-extension">
                  <div class="border-right pr-5">
                    <strong class="d-block text-white h2">.com</strong>
                    <span class="text-white h6">$10.99</span>
                  </div>
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.org</strong>
                    <span class="text-white h6">$8.99</span>
                  </div>
                  <div class="pl-5 pr-5">
                    <strong class="d-block text-white h2">.net</strong>
                    <span class="text-white h6">$7.99</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 ml-md-auto">
                <div class="input-group search-domain">
                  <input type="text" class="form-control search-input rounded-0 " aria-label="Enter your domain name here" placeholder="Enter your domain name here">
                  <div class="input-group-append">

                    <div class="select-wrap">
                      <span class="icon-keyboard_arrow_down arrow-down"></span>
                      <select class="extenionlist form-control border-0 rounded-0">
                        <option value=".com">.com</option>
                        <option value=".co">.co</option>
                        <option value=".net">.net</option>
                        <option value=".org">.org</option>
                        <option value=".biz">.biz</option>
                        <option value=".us.com">.us.com</option>
                        <option value=".us">.us</option>
                        <option value=".mobi">.mobi</option>
                        <option value=".info">.info</option>
                      </select>
                    </div>
                  </div>
                  <div class="input-group-append">
                    <button class="btn btn-black rounded-0 px-4" type="button"><span data-translate="Search"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        {{ partial "panel" . }}

        {{ partial "faq" . }}
        
        {{ partial "footer" . }}    

      </div>

      {{ partial "foot" . }}

      </body>
    </html>

