
    <!DOCTYPE html>
    <html lang="es">
      
      {{ partial "head" . }}

      <body>
      
      <div class="site-wrap">

        <div class="site-mobile-menu">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
              <span class="icon-close2 js-menu-toggle"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        
        {{ partial "header" . }}
      
        {{ partial "minihero" . }}

        <div class="py-5 bg-primary">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="d-flex popular-domain-extension">
                  <div class="border-right pr-5">
                    <strong class="d-block text-white h2">.com</strong>                    
                  </div>
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.org</strong>                    
                  </div>
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.net</strong>                    
                  </div>
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.do</strong>                    
                  </div>
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.com.do</strong>                    
                  </div>                  
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.net.do</strong>                    
                  </div>                  
                </div>
              </div>
            </div>           

            <hr />

            <div class="row align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="d-flex popular-domain-extension">
                  <div class="border-right pr-5">
                    <strong class="d-block text-white h2">.pa</strong>                    
                  </div>
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.org.pa</strong>                    
                  </div>
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.net.pa</strong>                    
                  </div>
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.co</strong>                    
                  </div>
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.com.co</strong>                    
                  </div>                  
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.net.co</strong>                    
                  </div>                  
                </div>
              </div>
            </div>  
            
            <hr />

            <div class="row align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="d-flex popular-domain-extension">
                  <div class="border-right pr-5">
                    <strong class="d-block text-white h2">.cr</strong>                    
                  </div>
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.org.cr</strong>                    
                  </div>
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.net.cr</strong>                    
                  </div>
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.es</strong>                    
                  </div>
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.uk</strong>                    
                  </div>                  
                  <div class="border-right pl-5 pr-5">
                    <strong class="d-block text-white h2">.tk</strong>                    
                  </div>                  
                </div>
              </div>
            </div>

          </div>
        </div>
      
        {{ partial "panel" . }}

        {{ partial "faq" . }}
        
        {{ partial "footer" . }}    

      </div>

      {{ partial "foot" . }}

      </body>
    </html>

