{{ .Get "topdata" | safeHTML  }}
<br>
<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="unit-7 pricing-table-modern__item {{ .Get `tablefeatured1` }}">
        <div class="pricing-table__item-header">
            <div class="pricing-table__item-header-bg">
            <div class="pricing-table__item-header-bg-inner"></div>
            </div>
            <p class="pricing-table__item-title mb-0">{{ .Get "tabletitle1" }}</p>
        </div>
        <div class="pricing-table__item-main">
            {{/*  <span class="d-block h2">{{ .Get "tableprice1" | safeHTML }}</span>  */}}
            <p>{{ .Get "tablecontent1" | safeHTML  }}</p>
            <div class="pricing-table__item-control"><a class="btn btn-secondary rounded-0 py-2 px-4" href="{{ .Get `tablelink1` | absURL }}">{{  .Get "tablebutton1" }}</a></div>
        </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="unit-7 pricing-table-modern__item {{ .Get `tablefeatured2` }}"}>
        <div class="pricing-table__item-header">
            <div class="pricing-table__item-header-bg">
            <div class="pricing-table__item-header-bg-inner"></div>
            </div>
            <p class="pricing-table__item-title mb-0">{{ .Get "tabletitle2" }}</p>
        </div>
        <div class="pricing-table__item-main">
            {{/*  <span class="d-block h2">{{ .Get "tableprice2" | safeHTML }}</span>              */}}
            <p>{{ .Get "tablecontent2" | safeHTML  }}</p>
            <div class="pricing-table__item-control"><a class="btn btn-secondary rounded-0 py-2 px-4" href="{{ .Get `tablelink2` | absURL }}">{{  .Get "tablebutton2" }}</a></div>        </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="unit-7 pricing-table-modern__item {{ .Get `tablefeatured3` }}">
        <div class="pricing-table__item-header">
            <div class="pricing-table__item-header-bg">
            <div class="pricing-table__item-header-bg-inner"></div>
            </div>
            <p class="pricing-table__item-title mb-0">{{ .Get "tabletitle3" }}</p>
        </div>
        <div class="pricing-table__item-main">
            {{/*  <span class="d-block h2">{{ .Get "tableprice3" | safeHTML }}</span>  */}}
            <p>{{ .Get "tablecontent3" | safeHTML  }}</p>
            <div class="pricing-table__item-control"><a class="btn btn-secondary rounded-0 py-2 px-4" href="{{ .Get `tablelink3` | absURL }}">{{  .Get "tablebutton3" }}</a></div>
        </div>
        </div>
    </div>
</div>