<!DOCTYPE html>
<html lang="es">

{{ partial "head" . }}
<style>
  #resultTemplate {
    display:none;
  }
</style>

<body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    {{ partial "header" . }}
    
    {{ partial "minihero" . }}

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <input type="text" placeholder="Realice su búsqueda aquí..." class="form-control" id="searchQuery" placeholder="Search...">
            <hr>
            <div id="results"></div>
          </div>
        </div>
        
        <div id="resultTemplate">
          <div class="result" id="result-#post-id#">
            <h4>
              <a href="#post-url#">#post-title#</a>
            </h4>
            <p>
              #post-contents#... <a href="#post-url#">Read More</a>
            </p>
          </div>
        </div>
    </div>
    

    {{ partial "footer" . }}
    
  </div>

  {{ partial "foot" . }}    
  <script src="{{ "js/search.js" | absURL }}"></script>    

  </body>
</html>